<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}

<body>
    <section class="vh-auto" style="background-color: #eee;">
        <div class="container py-2 h-50 ">
            <div class="row d-flex h-100 justify-content-center align-items-center">
                <div class="col col-lg-7 col-xl-7">
                    <div class="card rounded-3">
                        <div class="card-body p-4">

                            <h4 class="text-center my-3 pb-3">Update Prompt</h4>
                            <form class="form" method="post" id="myForm">

                                <div class="form-outline mt-2 p-2">
                                    <label>Title:</label>
                                    <input type="text" id="title" name="title" class="form-control"
                                        value="{{data.title}}"
                                        placeholder="Enter your prompt title">
                                </div>

                                <div class="form-outline mt-2 p-2">
                                    <label>Template:</label>
                                    <textarea rows="5" type="text" id="extractor"  name="prompt"  class="form-control"
                                        style="text-align: left;"
                                        placeholder="Enter your prompt"
                                    >{{data.prompt}}</textarea>

                                        
                                </div>
                                <div class="row d-flex justify-content-center align-items-center" id="dynamicInputs">

                                </div>

                                <div class="mt-5 p-1">
                                    <button type="submit" class="btn btn-outline-success"> Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            

            <!-- <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card rounded-3">
                        <div class="card-body p-4" id="inputed">

                        </div>
                    </div>
                </div>
            </div> -->

           


            <!-- <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card rounded-3">
                        <div class="card-body p-4">


                            {% if data %}
                            <h4 class="text-center my-3 pb-3">Strategic Reponse</h4>
                            <p>{{ data }}</p>
                            {% else %}
                            <p>No feed back available</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="container py-2 h-50">

            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col col-lg-7 col-xl-7 card card-bordered">
                    <div class="class-header">
                        <!--begin::Button-->
                        <button class="btn btn-success my-2" onclick="copyToClipboard()">
                            Copy
                        </button>
                        <!--end::Button-->
                    </div>
                    <div class="card-body" id="inputed">
    
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>

    let typingTimer;
    const doneTypingInterval = 1000;
    const inputField = document.getElementById('extractor');
    const output = document.getElementById('output');
    // inputed
    const inputed = document.getElementById('inputed');
    const dynamicInputs = document.getElementById('dynamicInputs');
    let extractedValues = null;

    inputField.addEventListener('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(function () {
            extractData();
        }, doneTypingInterval);
    });

    document.addEventListener('DOMContentLoaded', function() {
        extractData()
    });

    function extractData() {
        // Get the text from the input field
        const text = inputField.value;
        console.log(text)
        const regex = /\$\{([^}]+)\}/g;
        const extractedVal = [...text.matchAll(regex)];
        extractedValues = extractedVal.map(match => match[1]);

        dynamicInputs.innerHTML = '';

        // Create input fields for each extracted value
        dynamicInputs.innerHTML = ''; // Clear previous dynamic inputs

        if (extractedValues) {
            extractedValues.forEach((value, index) => {
                const div = document.createElement('div');
                div.className = 'form-outline mt-2 p-2';

                const label = document.createElement('label');
                label.textContent = `${value}:`;

                const input = document.createElement('input');
                input.type = 'text';
                // input.value = value;
                input.name = value;
                input.className = 'form-control';
                input.placeholder = `Enter ${value}`;

                div.appendChild(label);
                div.appendChild(input);
                dynamicInputs.appendChild(div);
            });
        }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById("myForm").addEventListener("submit", function (e) {
            e.preventDefault();
            const form = document.getElementById('myForm');

            // Extract variable values from the form
            const variableValues = {};
            const elements = form.elements;
            for (let i = 0; i < elements.length; i++) {
                if (elements[i].type === 'text') {
                    variableValues[elements[i].name] = elements[i].value;
                }
            }
            // Text containing variables
            // const text = 'My name is ${input_field_name} and I live in ${city}.';
            const text = document.getElementById('extractor').value;
            console.log(variableValues)

            // Replace variables with values
            const replacedText = text.replace(/\${([^}]+)}/g, (match, variableName) => {
                return variableValues[variableName] || match;
            });

            // Output or use the replaced text as needed
            console.log(replacedText);
            inputed.textContent = replacedText

            // const formData = new FormData();
            // formData.append("prompt", replacedText);
            const title = form.elements["title"].value;
            const id = '{{data.id}}'

            fetch(`/update/${id}`, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ "prompt": text, id:id, title })
            })
                .then(resp => resp.text())
                .then(data => {
        
                    if (data)
                    {
                        document.location.href="/";
                    }
                })
                .catch(error => {
                    console.error(error);
                });


        });

    });
    const copyToClipboard = async () => {
        try {
            await navigator.clipboard.writeText(inputed.textContent);
        } catch (error) {
            console.error("Failed to copy to clipboard:", error);
        }
    };
</script>

</html>